In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('Dataset.csv')

In [4]:
data.columns

Index(['Surname ', 'CreditScore ', 'Age   ', 'Tenure ', 'Balance   ',
       'NumOfProducts ', 'HasCrCard ', 'IsActiveMember ', 'EstimatedSalary ',
       'Exited ', 'Surname_tfidf_0         ', 'Surname_tfidf_1         ',
       'Surname_tfidf_2         ', 'Surname_tfidf_3         ',
       'Surname_tfidf_4         ', 'France ', 'Germany ', 'Spain ', 'Female ',
       'Male ', 'Mem__no__Products ', 'Cred_Bal_Sal              ',
       'Bal_sal                   ', 'Tenure_Age           ',
       'Age_Tenure_product'],
      dtype='object')

In [5]:
data=data.drop( ['Surname ','Surname_tfidf_0         ', 'Surname_tfidf_1         ','Surname_tfidf_2         ','Surname_tfidf_3         ','Surname_tfidf_4         ','HasCrCard '],axis=1)

In [6]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain,Female,Male,Mem__no__Products,Cred_Bal_Sal,Bal_sal,Tenure_Age,Age_Tenure_product
0,668.0,33.0,3.0,0.00,2.0,0,181449.97,0,1,0,0,0,1,0.0,0.000000,0.000000,0.090909,99.0
1,627.0,33.0,1.0,0.00,2.0,1,49503.50,0,1,0,0,0,1,2.0,0.000000,0.000000,0.030303,33.0
2,678.0,40.0,10.0,0.00,2.0,0,184866.69,0,1,0,0,0,1,0.0,0.000000,0.000000,0.250000,400.0
3,581.0,34.0,2.0,148882.54,1.0,1,84560.88,0,1,0,0,0,1,1.0,1022.940581,1.760655,0.058824,68.0
4,716.0,33.0,5.0,0.00,2.0,1,15068.83,0,0,0,1,0,1,2.0,0.000000,0.000000,0.151515,165.0

In [7]:
len(data)

175028

In [8]:
data.duplicated().sum()

1213

In [9]:
data = data.drop_duplicates()

In [10]:
len(data)

173815

In [11]:
data.isnull().sum()

CreditScore                   0
Age                           0
Tenure                        0
Balance                       0
NumOfProducts                 0
IsActiveMember                0
EstimatedSalary               0
Exited                        0
France                        0
Germany                       0
Spain                         0
Female                        0
Male                          0
Mem__no__Products             0
Cred_Bal_Sal                  0
Bal_sal                       0
Tenure_Age                    0
Age_Tenure_product            0
dtype: int64

In [12]:
data.columns

Index(['CreditScore ', 'Age   ', 'Tenure ', 'Balance   ', 'NumOfProducts ',
       'IsActiveMember ', 'EstimatedSalary ', 'Exited ', 'France ', 'Germany ',
       'Spain ', 'Female ', 'Male ', 'Mem__no__Products ',
       'Cred_Bal_Sal              ', 'Bal_sal                   ',
       'Tenure_Age           ', 'Age_Tenure_product'],
      dtype='object')

In [13]:
x = data.drop(['Exited '],axis = 1)
y = data.iloc[:, 7].values

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
import tensorflow  as tf
model = tf.keras.Sequential()

WARNING:tensorflow:From C:\Users\Surya\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\Surya\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [20]:
model.add(tf.keras.layers.Dense(units = 9,activation='relu'))
model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 5,activation='relu'))
model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 1,activation="sigmoid"))

In [21]:
model.compile(optimizer= 'adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Surya\AppData\Roaming\Python\Python311\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [22]:
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
WARNING:tensorflow:From C:\Users\Surya\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Surya\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

4346/4346 [==============================] - 11s 2ms/step - loss: 0.4409 - accuracy: 0.8095
Epoch 2/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.4070 - accuracy: 0.8240
Epoch 3/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.3963 - accuracy: 0.8239
Epoch 4/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.3921 - accuracy: 0.8253
Epoch 5/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.3926 - accuracy: 0.8245
Epoch 6/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.3917 - accuracy: 0.8253
Epoch 7/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.3910 - accuracy: 0.8255
Epoch 8/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.3915 - accuracy: 0.8256
Epoch 9/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.3902 - accuracy: 0.8259
Epoch 10/10
4346/4346 [==============================] - 9s 2ms/step - loss: 0.3833 - accuracy: 0.8356

In [23]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train,y_train)

LogisticRegression()

In [24]:
y_pred = classifier.predict(x_test)
from sklearn.metrics import accuracy_score,confusion_matrix
cm =  confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[26223  1201]
 [ 4624  2715]]

0.8324367862382418